@import "../styles/variables.scss";

// Media Query Helper
@mixin respons($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $bp-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $bp-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $bp-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $bp-xl) {
      @content;
    }
  }
}

// Soft Glow Effect
@mixin glow($color) {
  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba($color, 0.4), 0 0 40px rgba($color, 0.3),
      inset 0 0 12px rgba($color, 0.4);
    filter: brightness(1.05);
  }
}

// Animations
@keyframes float {
  0%,
  100% {
    transform: rotate(var(--init-rotate)) translateY(0);
  }

  50% {
    transform: rotate(var(--init-rotate)) translateY(-10px);
  }
}
