@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.partner-card {
  background: $white-color;
  border-radius: $radius-md;
  padding: 24px 32px;
  min-width: 180px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 4px 8px rgba($tittle-color, 0.10);
  }
}

.partner-logo {
  width: 56px;
  height: 56px;
  object-fit: contain;
  border-radius: $radius-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.partner-name {
  font-size: $h3-font-size;
  font-weight: 600;
  margin-bottom: 4px;
}

.partner-desc {
  font-size: $ul-font-size;
}
