@import "../styles/variables.scss";

// Media Query Helper
@mixin respons($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $bp-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $bp-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $bp-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $bp-xl) {
      @content;
    }
  }
}

@mixin white__container {
  padding: $section-padding;
  border-radius: $radius-sm;
  background-color: $white-color;
  color: $text-color;
  box-sizing: border-box;
  font-family: $font-family-primary;
}
