@import "./variables.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Fira+Code:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 72px;
}

.section {
  padding-inline: 10%;

  @include respons(sm) {
    padding-inline: 1.25rem;
  }
}