@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.mobileapp-section {
  width: 100%;
  padding: $section-padding;
  background: $white-color;
}

.mobileapp-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 96px;
  max-width: 1400px;
  margin: 0 auto;
}

.mobileapp-info {
  flex: 2 1 600px;
  min-width: 400px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: normal;
  padding-left: 32px;
  padding-right: 32px;
}

.mobileapp-title {
  font-size: $h1-font-size;
  font-weight: 700;
  color: $tittle-color;
  margin-bottom: 18px;
  max-width: 100%;
  white-space: normal;
  overflow: visible;
}

.mobileapp-desc {
  font-size: $text-font-size;
  color: $text-color;
  margin-bottom: 24px;
  line-height: 1.4;
}

.mobileapp-features {
  list-style: none;
  padding: 0;
  margin-bottom: 28px;
}
.mobileapp-features li {
  font-size: $ul-font-size;
  color: $tittle-color;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.check-icon {
  color: $green-boxes;
  font-size: 2rem;
}   

.mobileapp-buttons {
  display: flex;
  gap: 24px;
}
.appstore-btn, .googleplay-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: $tittle-color;
  color: $white-color;
  font-size: $ul-font-size;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: $radius-md;
  text-decoration: none;
  transition: background 0.2s;
}
.appstore-btn {
  background: $tittle-color;
}
.googleplay-btn {
  background: $green-boxes;
}
.appstore-btn:hover {
  background: #444;
}
.googleplay-btn:hover {
  background: #219a43;
}

.mobileapp-mockup {
  flex: 1 1 500px;
  min-width: 420px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

@include respons(lg) {
  .mobileapp-content {
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
  .mobileapp-info, .mobileapp-mockup {
    max-width: 100%;
    min-width: 0;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobileapp-desc {
    text-align: center;
  }
}

@include respons(md) {
  .mobileapp-section {
    padding: 32px 0;
  }
  .mobileapp-title {
    font-size: $r-h1-font-size;
    max-width: 100%;
  }
  .mobileapp-desc {
    font-size: $r-text-font-size;
    text-align: center;
  }
  .appstore-btn, .googleplay-btn {
    font-size: $r-text-font-size;
    padding: 8px 12px;
  }
  .mobileapp-mockup {
    min-width: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}

@include respons(sm) {
  .mobileapp-section {
    padding: 12px 0;
  }
  .mobileapp-mockup {
    padding: 0;
  }
}
