@import "../../../styles/variables.scss";

.categories {
  background-color: $green-background;
  padding: 5px;

  .categoryList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: center;
  }

  .category {
    appearance: none;
    display: flex;
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 9999px;

    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    p {
      justify-items: center;
      align-content: center;
    }

    &:hover {
      border-color: rgba(0, 0, 0, 0.12);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    }
  }

  .category.is-active {
    border-color: rgba(0, 0, 0, 0.12);
  }

  button:active {
    transform: translateY(1px);
  }
}
