@import "../../styles/variables.scss";
@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

/* Title and Info */
.cards {
  scroll-margin-top: $navbar-gap;
  padding: $section-padding;
  background: $white-color;
  text-align: center;
  min-height: $min-height;

  &__header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: $tittle-color;
      margin-bottom: 0.5rem;
    }

    p {
      color: $text-color;
      font-size: $text-font-size;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include respons(md) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
    @include respons(sm) {
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }

  /* Card Boxes */
  .card {
    padding: 2rem;
    border-radius: $radius-lg;
    color: $white-color;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease,
      background-color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .card__icon {
      font-size: 2rem;
      margin-bottom: 1rem;
      display: block;
      color: $white-color;
    }

    h3 {
      font-size: $h3-font-size;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .desc {
      margin-bottom: 1rem;
      opacity: 0.9;
    }
    ul {
      margin-bottom: 1.5rem;
      font-size: $ul-font-size;
      line-height: 1.6;
    }

    button {
      background: $white-color;
      border: none;
      padding: 0.6rem 1.2rem;
      border-radius: $radius-md;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #f3f4f6;
      }
    }

    &.gold {
      background: $yellow-boxes;
      @include glow(#ffd700);
    }
    &.platinum {
      background: linear-gradient(to bottom right, #374151, #111827);
      @include glow(#cccccc);
    }
    &.classic {
      background: $blue-boxes;
      @include glow(#1e90ff);
    }
  }

  @include respons(md) {
    padding: $r-md-padding;
  }

  @include respons(sm) {
    padding: $r-sm-padding;
  }
}
